#aig-gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.aig-gallery-item {
  position: relative;
}

.aig-gallery-item img {
  width: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.aig-gallery-item .filter_input {
  display: block;
  width: 100%;
}

.aig-gallery-item .aig-remove-image {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
}

#aig-add-images {
  margin-right: 10px;
  margin-top: 30px;
}

#aig-clear-all-images {
  margin-top: 30px;
}

.aig-placeholder {
  border: 2px dashed #ddd;
  background-color: #f9f9f9;
  height: 150px;
  margin-bottom: 10px;
}
